:root {
  --yellow: #fff898;
  --orange: #ff7d11;
  --green: #28af40;
  --blue: #4097fa;
  --white: #ffffff;
  --gray: #f5f5f5;
  --light-gray: #f9f9f9fd;
  --black: #393939e1;
  --border-light: 1px solid #eaeaea;
  --border-value: 1px solid #a7a5a2;
}

#buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}

body {
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
}

/* top のスタイル */
header {
  height: 50px;
  background-color: var(--gray);
  /* margin-bottom: 12px; */
  border-bottom: var(--border-value);
}

.top {
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--green);
  background-color: var(--gray);
  padding: 10px 0;
  font-size: 28px;
  font-weight: bolder;
  /* margin: 10px; */
  border-radius: 8px;
  cursor: pointer;
}

.nav {
  display: inline;
  flex-direction: column;
}
.navi p {
  color: var(--black);
  font-size: medium;
  font-weight: bolder;
  /* margin: 24px; */
}

.navi button {
  color: var(--black);
  font-size: medium;
  font-weight: bolder;
  /* margin: 24px; */
}
/* メイン画面スタイル */
main {
  margin: 0 auto;
  height: auto;
}

.container {
  padding-top: 24px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 28px;
}

/* footer */
footer {
  margin-top: auto;
  background-color: var(--gray);
  padding: 10px; /* フッターのパディング */
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer small {
  color: var(--black);
}

/* @media screen and (max-width: 1280px) {
  body {

  }
}

@media screen and (max-width: 980px) {
  body {

  }
} */

#user-name {
  color: var(--black);
}

.hidden {
  display: none;
}
