
:root {
  --yellow: #FFF898; 
  --orange: #FF7D11;
  --green: #28AF40;
  --blue: #4097FA;
  --white: #FFFFFF;
  --gray: #f5f5f5;
  --light-gray: #f9f9f9fd;
  --black: #393939e1;
  --border-light: 1px solid #eaeaea;
  --border-value: 1px solid #a7a5a2;
}

body {
  font-family: 'Sen', sans-serif;    
  box-sizing: border-box;
}

/* top のスタイル */
header {
  height: 56px;
  background-color: var(--gray);
  margin-bottom: 40px;
  border-bottom: var(--border-value)
}

.top {
  display: flex;
  margin: 0 auto;
  max-width: 1480px;
  justify-content: space-between;
  align-content: center;
}

.logo {
  color: var(--green);
  font-size:xx-large;
  font-weight: bolder;
  margin: 10px;
}

.navi {
  color: var(--white);
  font-size:medium;
  font-weight: bolder;
  margin: 10px;
}
/* メイン画面スタイル */
main {
  margin: 0 auto;
  height: auto;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap:40px;
  padding: 20px;
}

/* footer */
footer {
  margin-top: auto;
  background-color: var(--gray);
  padding: 10px;              /* フッターのパディング */
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer small {
  color: var(--black);
}

@media screen and (max-width: 1280px) {
  body {
      /* background-color: lightblue; */
  }
}

@media screen and (max-width: 980px) {
  body {
      /* background-color: red; */
  }
}